{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    {% if pins|length > 0 %}

        <div class="mb-4 col-md-12">
          {% if pins|length <= 1 %}
          <h1>{{ pins|length }} PIN</h1>
          {% elseif pins|length > 1 %}
          <h1>{{ pins|length }} PINS</h1>
          {% endif %}
        </div>
      </div>

      {% for row in pins|batch(3) %}
        <div class="row mb-5">

          {% for pin in row %}
            <div class="col-md-4">
              <article class="bg-white rounded shadow">
                <div class="overflow-hidden">
                  <div class="imgshow" style="background: url({{ asset('uploads/pins/' ~ pin.imageName) }}); background-size:cover"></div>
                </div>
                <h2 class="h5 pl-3 pt-3">
                  <a href="{{ path('pins_show', {id:pin.id}) }}" class="text-secondary text-decoration-none ">{{ pin.title }}</a>
                </h2>
                <p class="text-muted pb-3 pl-3">
                  <small>Submitted by {{pin.user.fullName}}</small>
                </p>
              </article>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    {% else %}
      <div class="col-md-12 text-center">
        <h1 class="my-5"> No pins yet ! <a href="{{ path('pins_create') }}">Be the first </a> ! </h1>
      </div>
    {% endif %}
{% endblock %}
